.formСontrol.error input,
.formСontrol.error textarea {
    border: 2px solid red;
}

.formСontrol.error span {
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}

